{% load static %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const helmSelector = document.getElementById('helmSelector');
        const helmImage = document.getElementById('helmImage');

        helmSelector.addEventListener('change', function() {
            const selectedOption = helmSelector.options[helmSelector.selectedIndex];
            const imageSrc = selectedOption.getAttribute('data-image');
            helmImage.src = imageSrc;
        });
    });
</script>
<table>
    <tr>
        <td>
            ШЛЕМ
            <br>
            <img id="helmImage" src="{{ images.helm.image }}" height="64" width="64">
            <br>
            <select name="helm" class="form-control" id="helmSelector">
            {% for helm_info in options.helm %}
                <option value="{{ helm_info.name }}" data-image="{{ helm_info.image }}">{{ helm_info.name }}</option>
            {% endfor %}
            </select>
        </td>
        <td colspan="3" rowspan="5">
            <img src="{% static 'crusader-paper-doll.jpg' %}">
        </td>
        <td>ПЕРЧАТКИ</td>
    </tr>
    <tr>
        <td>АМУЛЕТ</td>
        <td>ПОЯС</td>
    </tr>
    <tr>
        <td>НАПЛЕЧНИКИ</td>
        <td>НОГИ</td>
    </tr>
    <tr>
        <td>СПИНА</td>
        <td>БОТИНКИ</td>
    </tr>
    <tr>
        <td>ТОРС</td>
        <td>КОЛЬЦО 1</td>
    </tr>
    <tr>
        <td>НАРУЧИ</td>
        <td>ПРАВАЯ РУКА</td>
        <td>ЛЕВАЯ РУКА</td>
        <td>СПЕЦ СЛОТ</td>
        <td>КОЛЬЦО 2</td>
    </tr>
</table>