{% load static %}
<table>
    <tr>
        <td>
            A1
            <select name="dropdown">
                {% for option in helm_options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        </td>
        <td colspan="3" rowspan="5">
            <img src="{% static 'crusader-paper-doll.jpg' %}">
        </td>
        <td>A5</td>
    </tr>
    <tr>
        <td>B1</td>
        <td>B5</td>
    </tr>
    <tr>
        <td>C1</td>
        <td>C5</td>
    </tr>
    <tr>
        <td>D1</td>
        <td>D5</td>
    </tr>
    <tr>
        <td>E1</td>
        <td>E5</td>
    </tr>
    <tr>
        <td>F1</td>
        <td>F2</td>
        <td>F3</td>
        <td>F4</td>
        <td>F5</td>
    </tr>
</table>