{#<div class="card-box">#}
    <form method="post" class="form-inline text-right">
        <h4 class="pull-left">Инвентарь</h4>
    </form>
    <table class="table table-condensed">
        {% for inventory_row in inventory %}
            <tr>
            <form method="post" class="form-inline">
                <input type="hidden" name="inventory_row_id" value="{{ inventory_row.pk }}">
                {% csrf_token %}
                <td width="55%">
                    {{ inventory_row.item.name }}
{#                    {% if storage_row.item.special_text %}#}
{#                        <span class="text-warning">[{{ storage_row.item.special_text }}]</span>#}
{#                    {% endif %}#}
                </td>
                <td>
                    <input type="text" value="{{ inventory_row.count|default:inventory_row.count }}" name="move_count" class="form-control input-sm" style="width: 62px;">
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-success" name="action" value="move_to_storage">
                        <i class="fa fa-arrow-right"></i></button>
                    {% if inventory_row.item.usable %}
                    <button type="submit" class="btn btn-sm btn-success" name="action" value="activate">
                        <i class="fa fa-hand-o-up"></i></button>
                    {% endif %}
                </td>
            </form>
            </tr>
        {% empty %}
            <tr>
                <td class="text-muted text-center" colspan="100%">Пусто</td>
            </tr>
        {% endfor %}
    </table>
{#</div>#}
