{#<div class="card-box">#}
    <form method="post" class="form-inline text-right">
        <h4 class="pull-left">Инвентарь</h4>
    </form>
    <table class="table table-condensed">
        {% for inventory_item in inventory %}
            <tr>
                <td>
                    {{ inventory_item.item.name }}
{#                    {% if storage_row.item.special_text %}#}
{#                        <span class="text-warning">[{{ storage_row.item.special_text }}]</span>#}
{#                    {% endif %}#}
                </td>
                <td class="text-right">
                    <form method="post" class="form-inline">
                        {% csrf_token %}
                        <input type="hidden" name="inventory_item_id" value="{{ inventory_item.pk }}">

                        <input type="text" value="{{ inventory_item.count|default:inventory_item.count }}" name="weight" class="form-control input-sm" style="width: 62px;">
                        <button type="submit" class="btn btn-sm btn-success" name="action" value="move_to_storage">
                            <i class="fa fa-arrow-right"></i></button>
{#                        <button class="btn btn-sm btn-danger js-delete-confirm" name="action" value="delete_content_genre">#}
{#                            <i class="fa fa-trash"></i></button>#}
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td class="text-muted text-center" colspan="100%">Пусто</td>
            </tr>
        {% endfor %}
    </table>
{#</div>#}
