{% load static %}
{% csrf_token %}
<table>
    <tr>
        <td>
            ГОЛОВА
            <br>
            {% if equipment.head.image %}
                <button class="stealth_button" name="action" value="put_off_head">
                    <img id="headImage" src="{{ equipment.head.image }}" height="64" width="64">
                </button>
            {% else %}
                <img id="headImage" src="{% static "equipment_slot.png" %}" height="64" width="64">
            {% endif %}
        </td>
        <td colspan="3" rowspan="5">
            <img src="{% static 'crusader-paper-doll.jpg' %}">
        </td>
        <td>
            РУКИ
            <br>
            <img id="handsImage" src="
                {% if equipment.hands.image %}
                    {{ equipment.hands.image }}
                {% else %}
                    {% static "equipment_slot.png" %}
                {% endif %}
            " height="64" width="64">
        </td>
    </tr>
    <tr>
        <td>
            ШЕЯ
            <br>
            <img id="neckImage" src="
                {% if equipment.neck.image %}
                    {{ equipment.neck.image }}
                {% else %}
                    {% static "equipment_slot.png" %}
                {% endif %}
            " height="64" width="64">
        </td>
        <td>
            ПОЯС
            <br>
            <img id="beltImage" src="
                {% if equipment.belt.image %}
                    {{ equipment.belt.image }}
                {% else %}
                    {% static "equipment_slot.png" %}
                {% endif %}
            " height="64" width="64">
        </td>
    </tr>
    <tr>
        <td>
            ПЛЕЧИ
            <br>
            <img id="shouldersImage" src="
                {% if equipment.shoulders.image %}
                    {{ equipment.shoulders.image }}
                {% else %}
                    {% static "equipment_slot.png" %}
                {% endif %}
            " height="64" width="64">
        </td>
        <td>
            НОГИ
            <br>
            <img id="legsImage" src="
                {% if equipment.legs.image %}
                    {{ equipment.legs.image }}
                {% else %}
                    {% static "equipment_slot.png" %}
                {% endif %}
            " height="64" width="64">
        </td>
    </tr>
    <tr>
        <td>
            СПИНА
            <br>
            <img id="backImage" src="
                {% if equipment.back.image %}
                    {{ equipment.back.image }}
                {% else %}
                    {% static "equipment_slot.png" %}
                {% endif %}
            " height="64" width="64">
        </td>
        <td>
            СТОПЫ
            <br>
            <img id="feetImage" src="
                {% if equipment.feet.image %}
                    {{ equipment.feet.image }}
                {% else %}
                    {% static "equipment_slot.png" %}
                {% endif %}
            " height="64" width="64">
        </td>
    </tr>
    <tr>
        <td>
            ТОРС
            <br>
            {% if equipment.chest.image %}
                <button class="stealth_button" name="action" value="put_off_chest">
                    <img id="torsoImage" src="{{ equipment.chest.image }}" height="64" width="64">
                </button>
            {% else %}
                <img id="torsoImage" src="{% static "equipment_slot.png" %}" height="64" width="64">
            {% endif %}
        </td>
        <td>
            КОЛЬЦО 1
            <br>
            <img id="ring1Image" src="
                {% if equipment.ring1.image %}
                    {{ equipment.ring1.image }}
                {% else %}
                    {% static "equipment_slot.png" %}
                {% endif %}
            " height="64" width="64">
        </td>
    </tr>
    <tr>
        <td>
            ????
            <br>
            <img id="extraSlotImage" src="
                {% if equipment.extra_slot.image %}
                    {{ equipment.extra_slot.image }}
                {% else %}
                    {% static "equipment_slot.png" %}
                {% endif %}
            " height="64" width="64">
        </td>
        <td>
            ПР. РУКА
            <br>
            {% if equipment.rhand.image %}
                <button class="stealth_button" name="action" value="put_off_rhand">
                    <img id="rightHandImage" src="{{ equipment.rhand.image }}" height="64" width="64">
                </button>
            {% else %}
                <img id="rightHandImage" src="{% static "equipment_slot.png" %}" height="64" width="64">
            {% endif %}
        </td>
        <td>
            ЛЕВ. РУКА
            <br>
            <img id="leftHandImage" src="
                {% if equipment.left_hand.image %}
                    {{ equipment.left_hand.image }}
                {% else %}
                    {% static "equipment_slot.png" %}
                {% endif %}
            " height="64" width="64">
        </td>
        <td>
            СПЕЦ СЛОТ
            <br>
            <img id="specialSlotImage" src="
                {% if equipment.special_slot.image %}
                    {{ equipment.special_slot.image }}
                {% else %}
                    {% static "equipment_slot.png" %}
                {% endif %}
            " height="64" width="64">
        </td>
        <td>
            КОЛЬЦО 2
            <br>
            <img id="ring2Image" src="
                {% if equipment.ring2.image %}
                    {{ equipment.ring2.image }}
                {% else %}
                    {% static "equipment_slot.png" %}
                {% endif %}
            " height="64" width="64">
        </td>
    </tr>
</table>