{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Fixed Images</title>#}
{% load static %}
{#    <style>#}
{#        .container {#}
{#            display: grid;#}
{#            grid-template-columns: repeat(2, 1fr); /* Две колонки одинаковой ширины */#}
{#            grid-gap: 10px; /* Отступы между изображениями */#}
{#            justify-items: center; /* Выравнивание по горизонтали */#}
{#            align-items: center; /* Выравнивание по вертикали */#}
{#            height: 100vh; /* Высота контейнера */#}
{#        }#}
{#        .image {#}
{#            width: 100%; /* Ширина изображений */#}
{#            height: auto; /* Автоматическая высота */#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
    <div class="container">
        <img id="leftHandImage" src="{% static "equipment_slot.png" %}" height="64" width="64">
        <img id="leftHandImage" src="{% static "equipment_slot.png" %}" height="64" width="64">
        <img id="leftHandImage" src="{% static "equipment_slot.png" %}" height="64" width="64">
        <img id="leftHandImage" src="{% static "equipment_slot.png" %}" height="64" width="64">
        <img id="leftHandImage" src="{% static "equipment_slot.png" %}" height="64" width="64">
        <img id="leftHandImage" src="{% static "equipment_slot.png" %}" height="64" width="64">
        <img id="leftHandImage" src="{% static "equipment_slot.png" %}" height="64" width="64">
    </div>
{#</body>#}
{#</html>#}