{% extends "base.html" %}
{#{% load pagination_tags %}#}
{#{% load custom_tags %}#}
{% load static %}
{% block content %}
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
{#                                    <ol class="breadcrumb pull-right">#}
{#                                        <li><a href="">надпись1</a></li>#}
{#                                        <li><a href="">надпись2</a></li>#}
{#                                        <li class="active">надпись3</li>#}
{#                                    </ol>#}
                                    <h4 class="page-title">{{ hero_name }}</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                            <!-- Менюшка сверху -->
                                {% include 'hero_form/menu.html' %}
                                <div class="tab-content">
                                    <form method="post" role="form">
{#                                        {% csrf_token %}#}
                                        <div class="row">
                                            <div class="col-md-4">
                                                {% include 'hero_form/paperdoll.html' %}
                                            </div>
                                            <div class="col-md-4">
                                                {% include 'hero_form/inventory.html' %}
                                            </div>
                                            <div class="col-md-4">
                                                {% include 'hero_form/storage.html' %}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- end container -->
                </div>
                <!-- end content -->
{% endblock content %}

{% block more_scripts %}
{% endblock more_scripts %}
