{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">{{ hero_name }}</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card-box">
                    <table class="table table-hover">
                        <div class="col-lg-12">
                            <div class="col-md-4">
                                {% include 'raid_form/locations.html' %}
                            </div>
    {#                        <div class="col-md-4">#}
    {#                            {% include 'raid_form/chosen_location.html' %}#}
    {#                        </div>#}
                            <div class="col-md-4">
                                {% include 'raid_form/raid_log.html' %}
                            </div>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block more_scripts %}
{% endblock more_scripts %}